<h1>Welcome to the Noms Factory</h1>
<p>
  you can find noms and stuff!
</p>
<p>
  <small>This email was intended for <%= @user_email %>. If that is not you, then someone is using your email, freak out now.</small>
  
</p>
