<h1>User In DB Report</h1>

<p>
  We currently have <%= @number_of_users %> users in the database. Congratulations on ruling the world.
</p>

<p>
  <small>This email was intended for <%= @admin_email %>. If that is not you, then someone will be arriving shortly to wipe your memory clean.</small>
</p>
