<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="<%= root_path %>" class="btn btn-default">Home</a>

      <a href="<%= restaurants_path %>" class="btn btn-default">Restaurants</a>
    </div>
  </div>
</nav>
